body {
    font-family: 'Roboto', sans-serif;
    background-color: #44a84d; /* Azul Celeste */
}

h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

section {
    position: relative;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgb(55, 0, 255);
    clip-path: polygon(0% 0%, 90%, 100% 100%, 100% 90%, 90% 100%, 0% 100%);
    border-top-left-radius: 50px; /* Bordes redondeados superior izquierdo */
    border-bottom-right-radius: 50px; /* Bordes redondeados inferior derecho */
    overflow: hidden;
}

button {
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007bff;
}

.emoji {
    font-size: 1.5rem;
}

.ganador {
    border-radius: 10px;
    background-color: #f1f1f100;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 6px rgb(255, 255, 255);
    transition: transform 0.3s ease, opacity 0.5s ease;
    opacity: 0;
}

.ganador img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.ganador p {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.ganador.aparecer {
    opacity: 1;
    transform: translateY(0);
}

.hidden { display: none; }

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

#gif-sorteo-bloque1 img,
#gif-sorteo-bloque2 img,
#gif-sorteo-bloque3 img {
    max-width: 100%;
    height: auto;
}

/* Snow Effect */
.snow {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    z-index: -1;
}

.snow-floor {
    width: 100%;
    height: 3%;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 50% 50% 0 0;
    z-index: 5;
}

.main-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #f9f9f9;
    color: #333;
    box-sizing: border-box;
}

@keyframes fall {
    0% {
        top: -100px;
        transform: translateX(0);
    }
    100% {
        top: 100vh;
        transform: translateX(100px);
    }
}

.logo {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 175px;
    height: 190px;
    z-index: 100;
}

.logo1 {
    position: absolute; /* Esto lo saca del flujo normal de la página */
    top: 20px; /* Distancia desde la parte superior */
    right: 20px; /* Distancia desde la parte derecha */
    width: 160px;
    height: 150px;
}

.logo2 {
    position: absolute; /* Esto lo saca del flujo normal de la página */
    top: 20px; /* Distancia desde la parte superior */
    left: 20px; /* Distancia desde la parte derecha */
    width: 160px;
    height: 150px;
}

.logo3 {
    position: absolute; /* Esto lo saca del flujo normal de la página */
    top: 20px; /* Distancia desde la parte superior */
    right: 20px; /* Distancia desde la parte derecha */
    width: 180
px;
    height: 150px;
}

.hidden {
    display: none;
  }